@page
@model IndexModel
@{
}
<form action="/EditPerson">

 <div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" id="name" name="name">
</div>

 <div class="form-group">
  <label for="phone">Name:</label>
  <input type="text" class="form-control" id="phone" name="phone">
</div>

 <div class="form-group">
  <label for="birthday">Name:</label>
  <input type="text" class="form-control" id="birthday" name="birthday">
</div>

 <div class="form-group">
  <label for="number">Name:</label>
  <input type="number" class="form-control" id="number" name="number">
</div>
<div>
    <input class="btn btn-primary" type="submit" value="Spara">
</div>
</form>