@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div>
    <img src="/img/morsan_small.png" alt=""width="300">
</div>

<div class="container text-center">

  <table class="table">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Skicka SMS</th>
        <th>Födelsedag</th>
        <th>Mors-O-Meter</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

        @Test.

      <tr>
        @{
          
      
            
        
     
        }
      </tr>     

      <tr class="success">
     <td>Pappa</td>
        <td><button type="button" class="btn btn-info">073-366 31 24</button></td>
        <td>1950-03-15</td>
        <td class="bg-warning text-white"><h3>1</h3></td>
        <td><button type="button" class="btn btn-info">Ändra</button></td>
        <td><button type="button" class="btn btn-danger">X</button></td>
      </tr>
      
      <tr class="success">
     <td>Mormor</td>
        <td><button type="button" class="btn btn-info">073-678 45 96</button></td>
        <td>1911-04-05</td>
        <td class="bg-success text-white"><h3>8</h3></td>
        <td><button type="button" class="btn btn-info">Ändra</button></td>
        <td><button type="button" class="btn btn-danger">X</button></td>
      </tr>
      
      <tr class="success">
     <td>Syrran</td>
        <td><button type="button" class="btn btn-info">073-564 45 46</button></td>
        <td>2012-04-17</td>
        <td class="bg-danger text-white"><h3>-2</h3></td>
        <td><button type="button" class="btn btn-info">Ändra</button></td>
        <td><button type="button" class="btn btn-danger">X</button></td>
      </tr>
      
    </tbody>
  </table>
</div>